<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>Edit Contract Customer</title>
    </head>
    <body>
        <div class="ml-3">
            <form method="get" th:action="@{/contract/{contractId}/editContractCustomer(contractId = ${contractId})}">
                <input type="text" th:name="filter" th:value="${filter}" placeholder="Enter the tag to filter"/>
                <button type="submit" class="btn btn-warning mt-2">Find</button>
            </form>
        </div>

        <div th:each="customer : ${customers}">
            <form th:action="@{/contract/{id}/customerEdit(id = ${contractId})}" method="post">
                <div>
                    <label th:text="${customer.getName()} + ' ' + ${customer.getSurname()} + '(' + ${customer.getCompany()} + ')'"></label>
                    <button type="submit" th:text="Save"></button>
                </div>
                <input type="hidden" th:value="${customer.getId()}" th:name="customerId"/>
            </form>
        </div>
    </body>
</html>